<ul class="submenu">
    <li n:if="$user->isAllowed($presenter->getNameSimple(), 'default')"><a n:href="default" n:class="$presenter->getAction() == 'default' ? active">{_'page.summary'}</a></li>
    <li n:if="$user->isAllowed($presenter->getNameSimple(), 'new')"><a n:href="new" n:class="$presenter->getAction() == 'new' ? active">{_'page.newPage'}</a></li>
</ul>
<div class="clearfix"></div>